/node_modules
/public/hot
/public/storage
/public/assets
/public/documents
/public/exports
/development/tools/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.composer
.config
.cache
.yarn
.yarnrc
.bash_history
.DS_store

### Docker ###
/.docker/database/data
/.docker/server/logs
/.docker/database/scripts
